$font-stack-input: 'Orbitron', Arial, sans-serif;
$font-stack-buttons: Arial, sans-serif;
$font-color: #397000;

$white: #ffffff;
$grey: #dddddd;
$orange: #FFA500;
$brown: #A52A2A;
$black: #212020;

body, html {
    background-color:$black;
    margin: 120px 0 0 0;
    padding: 0;
}
.calculatorWrapper { 
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
}
.calculator{
    background-color:$grey;
    margin-top:100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:10px;
    border-radius: 10px;
}
.inputBarHolder{
    text-align:center;
}
.inputBar{
    margin:8px;
    padding:3px;
    /*box-sizing: border-box;*/
    border-width:0;
    font: 100% $font-stack-input;
    font-weight: 600;
    letter-spacing: 1px;
    font-size:1.25em;
    border-radius: 4px;
    color: $font-color;
    text-align:right;
}
.buttonArea{
    margin: 4px;
    padding: 2px;
}
.numberButtons{
    padding:2px;
    margin:4px;
    float:left;
}
.numberBlock{
    padding: 5px 0 5px 0;
    width:200px;
}
.modifierBlock{
    width:50px;
    display:inline-block;
}
.functionBlock{
    width:50px;
    display:inline-block;
}
.buttonNumber{
    font: $font-stack-buttons;
    border-width:1;
    width:50px;
    height:50px;
    padding:10px;
    margin-right:10px;
    background-color: $grey;
    font-size: 1.3em;
    line-height:20px;
    text-align:center;
}
.buttonModifier{
    font: $font-stack-buttons;
    border-width:1;
    width:50px;
    padding:10px;
    margin: 5px 10px 5px 0;
    background-color: $orange;
    font-weight:800;
    height:50px;
    font-size:1.1em;
}
.buttonFunction{
    font: $font-stack-buttons;
    border-width:1;
    width:50px;
    height:50px;
    padding:10px;
    margin: 5px 10px 5px 15px;
    background-color: $brown;
    color:$white;
    text-align:center;
    line-height:1.3em;
    font-weight:800;
    font-size:1.1em;
}
.exponentSize{
    font-weight:600;
}

@media only screen and (max-width: 500px) {
    .function-block{
        display:none;
    }
}